body {
  background: #ecf3f3;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(85vw, 78vh, 81px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(85vw, 78vh, 81px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 30s infinite;
          animation: particle-animation-1 30s infinite;
  opacity: 0.02;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(46vw, 85vh, 89px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(51vw, 15vh, 91px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(51vw, 15vh, 91px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 30s infinite;
          animation: particle-animation-2 30s infinite;
  opacity: 0.82;
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(53vw, 87vh, 77px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(2vw, 80vh, 18px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(2vw, 80vh, 18px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 30s infinite;
          animation: particle-animation-3 30s infinite;
  opacity: 0.62;
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(57vw, 1vh, 61px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(36vw, 50vh, 50px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(36vw, 50vh, 50px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 30s infinite;
          animation: particle-animation-4 30s infinite;
  opacity: 0.19;
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(57vw, 59vh, 35px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(1vw, 87vh, 96px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(1vw, 87vh, 96px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 30s infinite;
          animation: particle-animation-5 30s infinite;
  opacity: 0.02;
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(78vw, 58vh, 3px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(6vw, 6vh, 64px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(6vw, 6vh, 64px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 30s infinite;
          animation: particle-animation-6 30s infinite;
  opacity: 0.7;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(21vw, 17vh, 18px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(73vw, 68vh, 35px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(73vw, 68vh, 35px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 30s infinite;
          animation: particle-animation-7 30s infinite;
  opacity: 0.17;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  transform: translate3d(43vw, 13vh, 6px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(32vw, 2vh, 61px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(32vw, 2vh, 61px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 30s infinite;
          animation: particle-animation-8 30s infinite;
  opacity: 0.92;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(88vw, 2vh, 40px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(70vw, 47vh, 82px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(70vw, 47vh, 82px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 30s infinite;
          animation: particle-animation-9 30s infinite;
  opacity: 0.04;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(29vw, 64vh, 88px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(69vw, 67vh, 1px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(69vw, 67vh, 1px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 30s infinite;
          animation: particle-animation-10 30s infinite;
  opacity: 0.96;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(34vw, 36vh, 87px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(40vw, 34vh, 75px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(40vw, 34vh, 75px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 30s infinite;
          animation: particle-animation-11 30s infinite;
  opacity: 0.29;
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(20vw, 2vh, 14px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(38vw, 72vh, 15px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(38vw, 72vh, 15px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 30s infinite;
          animation: particle-animation-12 30s infinite;
  opacity: 0.5;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(1vw, 22vh, 74px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(24vw, 86vh, 89px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(24vw, 86vh, 89px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 30s infinite;
          animation: particle-animation-13 30s infinite;
  opacity: 0.26;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(1vw, 83vh, 47px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(28vw, 74vh, 96px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(28vw, 74vh, 96px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 30s infinite;
          animation: particle-animation-14 30s infinite;
  opacity: 0.13;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(45vw, 71vh, 36px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(10vw, 16vh, 48px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(10vw, 16vh, 48px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 30s infinite;
          animation: particle-animation-15 30s infinite;
  opacity: 0.34;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(66vw, 57vh, 8px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(26vw, 33vh, 17px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(26vw, 33vh, 17px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 30s infinite;
          animation: particle-animation-16 30s infinite;
  opacity: 0.43;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(74vw, 61vh, 22px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(8vw, 90vh, 39px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(8vw, 90vh, 39px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 30s infinite;
          animation: particle-animation-17 30s infinite;
  opacity: 0.15;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(77vw, 46vh, 82px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(26vw, 42vh, 29px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(26vw, 42vh, 29px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 30s infinite;
          animation: particle-animation-18 30s infinite;
  opacity: 0.18;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(89vw, 78vh, 25px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(3vw, 74vh, 80px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(3vw, 74vh, 80px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 30s infinite;
          animation: particle-animation-19 30s infinite;
  opacity: 0.11;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(53vw, 27vh, 58px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(46vw, 74vh, 73px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(46vw, 74vh, 73px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 30s infinite;
          animation: particle-animation-20 30s infinite;
  opacity: 0.67;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(25vw, 2vh, 68px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(39vw, 52vh, 53px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(39vw, 52vh, 53px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 30s infinite;
          animation: particle-animation-21 30s infinite;
  opacity: 0.21;
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  transform: translate3d(26vw, 10vh, 56px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(35vw, 55vh, 1px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(35vw, 55vh, 1px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 30s infinite;
          animation: particle-animation-22 30s infinite;
  opacity: 0.08;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  transform: translate3d(86vw, 12vh, 60px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(57vw, 29vh, 22px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(57vw, 29vh, 22px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 30s infinite;
          animation: particle-animation-23 30s infinite;
  opacity: 0.89;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  transform: translate3d(37vw, 61vh, 15px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(9vw, 12vh, 60px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(9vw, 12vh, 60px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 30s infinite;
          animation: particle-animation-24 30s infinite;
  opacity: 0.05;
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform: translate3d(38vw, 1vh, 54px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    transform: translate3d(77vw, 52vh, 49px);
  }
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(77vw, 52vh, 49px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 30s infinite;
          animation: particle-animation-25 30s infinite;
  opacity: 0.81;
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  transform: translate3d(4vw, 49vh, 29px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    transform: translate3d(61vw, 27vh, 36px);
  }
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(61vw, 27vh, 36px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 30s infinite;
          animation: particle-animation-26 30s infinite;
  opacity: 0.23;
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  transform: translate3d(33vw, 21vh, 54px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    transform: translate3d(89vw, 51vh, 10px);
  }
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(89vw, 51vh, 10px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 30s infinite;
          animation: particle-animation-27 30s infinite;
  opacity: 0.05;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  transform: translate3d(49vw, 31vh, 53px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    transform: translate3d(10vw, 36vh, 75px);
  }
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(10vw, 36vh, 75px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 30s infinite;
          animation: particle-animation-28 30s infinite;
  opacity: 0.71;
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  transform: translate3d(79vw, 17vh, 69px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    transform: translate3d(55vw, 83vh, 69px);
  }
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(55vw, 83vh, 69px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 30s infinite;
          animation: particle-animation-29 30s infinite;
  opacity: 0.71;
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  transform: translate3d(1vw, 5vh, 63px);
  background: #DC3545;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    transform: translate3d(45vw, 53vh, 9px);
  }
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(45vw, 53vh, 9px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 30s infinite;
          animation: particle-animation-30 30s infinite;
  opacity: 0.75;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  transform: translate3d(64vw, 72vh, 58px);
  background: #DC3545;
}/*# sourceMappingURL=styles.css.map */